#container {
	width: 100%;
}
.red {
color: red;
}

.green {
color: green;
}

.blue {
color: blue;
}

.true {
	font-size: 30px;
}

.false {
	font-size: 20px;
}

#right {
	display: inline-block;
	height: 200px;
	float: right;
	margin-right: 200px;
}

#left {
	display: inline-block;
	height: 200px;
	width: 500px;
	border: 2px solid black;
}
li {
	list-style: none;
}

